.post{data: {post: {id: message.id}}}
  .post__info
    .post__info__name
      = message.user.name
    .post__info__date
      = message.created_at.strftime("%Y年%m月%d日　%H時%M分")
  .post__comment
    - if message.body.present?
      %p.post__comment__body
        = message.body
      = image_tag message.image.url if message.image.present?
    - else
      = image_tag message.image.url if message.image.present?